.bg-container {
  display: flex;
  flex-direction: column;
  padding: 10px 50px;
}
.coursesUlContainer {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}
.failureContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.products-loader-container {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
